<!-- dashboard.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <!-- Display user information on the dashboard -->
    <h1>Welcome, ID: {{user.user_id}}  USER:{{ user.username }}!</h1>
    <!-- Add more dashboard content as needed -->
    <!-- Add the log out button with a link to trigger redirection -->
    <form action="{{ url_for('redirect_to_login') }}">
        <p>Log Out? <button type="submit">Log Out</button></p>
    </form>


    <form method="POST" action="{{ url_for('dashboard') }}">
        <label for="zipcode">ZIP CODE SEARCH</label>
        <input type="text" name="zipcode" placeholder="Enter zip code" id="zipcode">

        <label for="price_range">Select Price Range:</label>
        <select name="price_range" id="price_range">
            <option value=''></option>
            <option value=1><=$</option>
            <option value=2><=$$</option>
            <option value=3><=$$$</option>
            <option value=4><=$$$$</option>
        </select>

        <label for="star">Select Star Range:</label>
        <select name="star" id="star">
            <option value=''></option>>
            <option value=0>>=0</option>
            <option value=1>>=1</option>
            <option value=2>>=2</option>
            <option value=3>>=3</option>
            <option value=4>>=4</option>
            <option value=5>5*</option>
        </select>

        <label for="category">Choose Category:</label>
        <select name="category" id="category">
            <option value=''></option>
            <option value='Asian'>Asian</option>
            <option value='Burgers'>Burgers</option>
            <option value='Breakfast and Brunch'>Breakfast and Brunch</option>
            <option value='Chinese'>Chinese</option>
            <option value='Comfort Food'>Comfort Food</option>
            <option value='Desserts'>Desserts</option>
            <option value='Fast Food'>Fast Food</option>
            <option value='Indian'>Indian</option>
            <option value='Italian'>Italian</option>
            <option value='Mexican'>Mexican</option>
            <option value='Pizza'>Pizza</option>
            <option value='Sushi'>Sushi</option>
        </select>
        <button type="submit">Submit</button>
    </form>

    <h4>Restaurant List</h4>
    <ul>
        {% for restaurant in restaurants %}
            <li>
                ID: {{restaurant.restaurant_id}}
                name: {{ restaurant.restaurant_name }}
                Star: {{restaurant.score}}
                Price Range: {{restaurant.price_range}}
                street: {{restaurant.street}}
                city: {{restaurant.city}}
                state: {{restaurant.state}}
                zip: {{restaurant.zip}}
                <a href="/Add_Favorite/{{ restaurant.restaurant_id }}">Add to Favorite</a>
                <a href="/menu/{{ restaurant.restaurant_id }}">View Menu</a>
            </li>
        {% endfor %}
    </ul>


    <h4>Key Word Search</h4>
    <form method="GET" action="{{ url_for('dashboard') }}">
    <input type="text" name="keywords" placeholder="Enter keywords">
    <button type="submit">Search Restaurant</button>
    </form>

    <h4>Restaurant List</h4>
    <ul>
        {% for r2 in restaurants2 %}
            <li>
                ID: {{r2.restaurant_id}}
                name: {{ r2.restaurant_name }}
                Star: {{r2.score}}
                Price Range: {{r2.price_range}}
                street: {{r2.street}}
                city: {{r2.city}}
                state: {{r2.state}}
                zip: {{r2.zip}}
                <a href="/Add_Favorite/{{ r2.restaurant_id }}">Add to Favorite</a>
                <a href="/menu/{{ r2.restaurant_id }}">View Menu</a>
            </li>
        {% endfor %}
    </ul>

    <h4>User's Favorite</h4>
    {% if favorite_resturant %}
    <ul>
        {% for r3 in favorite_resturant %}
            <li>
                ID: {{r3.restaurant_id}}
                name: {{ r3.restaurant_name }}
                Star: {{r3.score}}
                Price Range: {{r3.price_range}}
                street: {{r3.street}}
                city: {{r3.city}}
                state: {{r3.state}}
                zip: {{r3.zip}}
                <a href="/delete_favorite/{{ r3.restaurant_id }}">Delete the Favorite</a>
                <a href="/menu/{{ r3.restaurant_id }}">View Menu</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No Favorite Restaurant.</p>
    {% endif %}


</body>
</html>