<!-- login.html -->

<h2>Login</h2>
<form action="/log_in" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <button type="submit">Login</button>
</form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<!-- Add the registration button with a link to trigger redirection -->
<form action="{{ url_for('redirect_to_register') }}">
    <p>Don't have an account? </p>
    <button type="submit">Register now</button>
</form>